body {
    background: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.grid-layout {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: stretch;

    width: 80%;
    margin: 0 auto;
    background-color: lightgreen;
    padding: 20px;
    border: 1px solid black;
}

.caja {
    border: 4px solid black;
    background-color: lightgray;
    text-align: center;
    line-height: 150px;
}

.c1 {
    /*El 1 es la 1era linea y por span 2, abarca 2 columnas pero hacia abajo*/
    grid-row: 1 / span 2;
    background: lightblue;
}

.c2 {
    background: lightyellow;
}

.c3 {
    background: lightsalmon;
}

.c11 {
}

.c12 {
    background: lightseagreen;
}
