body {
    background-color: beige;
}

/*Aplicar css float sentido derecha izquierda*/
.flex-container {
    border: 1px solid black;
    background: #ccc;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 80%;
    height: 600px;
    margin: 0 auto;
}

.caja {
    border: 1px solid rgba(70, 69, 69);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 200px;
    line-height: 200px;
    text-align: center;
    margin: 5px;
}

/*Con el uso de flex-grow distribuimos a lo ancho por un porcentaje*/
.c1 {
    background: lightblue;
    order: 2;
    flex-grow: 5;
}

.c2 {
    background: lightcoral;
    order: 2;
    flex-grow: 2;
}

.c3 {
    background: lightgreen;
    order: 1;
    flex-grow: 1;
}
