body {
    background-color: beige;
}

/*Aplicar css float sentido derecha izquierda*/
.flex-container {
    background: #ccc;
    border: 1px solid black;
    display: flex;
    padding: 20px;
    flex-flow: row wrap;

    /*Mismo espacio entre los elementos, tanto derecha como izquierda*/
    justify-content: space-around;
    /*Centra los elementos en grupo, dejando el mismo espacio en derecha e izquierda*/
    justify-content: center;
    /*Acomoda los elementos desde el final hacia el inicio*/
    justify-content: flex-end;
    /*Mismo espacio entre los elementos*/
    justify-content: space-between;
}

.caja {
    border: 1px solid rgba(70, 69, 69);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    margin: 5px;
}
