body {
    background-color: beige;
}

/*Aplicar css float sentido derecha izquierda*/
.flex-container {
    background: #ccc;
    border: 1px solid black;
    display: flex;
    padding: 20px;
    /*direccion de abajo a arriba desde abajo*/
    flex-direction: column-reverse;
    /*direccion de arriba a abajo desde arriba*/
    flex-direction: column;
    /*direccion de derecha a izquierda desde la derecha*/
    flex-direction: row-reverse;
    /*direccion de izquierda a derecha desde la izquierda*/
    flex-direction: row;
}

.caja {
    border: 1px solid rgba(70, 69, 69);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    margin: 5px;
}
